#about{
    padding: 350px 0 150px 0;
    position: relative;
    width: 100%;
    height: 2000px !important;
    background-color: $teal;
    .about-container{
        h1{
            position: absolute;
            top: 2%;
            left: 5%;
        }
        margin: 50px;
        p{
            color: $darkbrown;
            width: 30%;
            font-size: 25px;
            top: 20%;
            left: 5%;
            position:absolute;
            span{
                width: 100%;
                background: $orange;
                display:block;
                height: 5px;
                margin-top: 20px;
            }
        }
        img{
            position: absolute;
        }
    
        img:nth-of-type(1){
            width: 30%;
            right: 10%;
            top: 10%;
        }
        img:nth-of-type(2){
            width: 25%;
            right: 40%;
            top: 29%;
        }
    }
    
  
}