$orange : #F87635;
$darkbrown : #261e1a;
$olive : #2B4240;
$cyan: #7D908E;
$teal: #308F88;


// breakpoints

$breakpoint-small: "only screen and (max-width: 40em)";
// $breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 40.063em) and (max-width: 64em)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";